<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src = "../scripts/boardScript.js"></script>
    <script src="../scripts/script.js"></script>
    <style>
      /* Estilo para la tabla */
      .board {
        border-collapse: collapse;
      }

      .cell {
        border: 1px solid white;
      }
    </style>
</head>
<body>
  <nav class="sidebar" style="height: 100%; overflow-y: scroll;">
    <center>
      <ul class="nav flex-column" >
        <br><br><br><br><br><br><br>
        <li class="nav-item">
          <h4>Board Name: <%= board[0].name %></h4>
        </li>
        <li class="nav-item">
          Thick: <%= board[0].thick %>
        </li>
        <li class="nav-item">
          Length:<%= board[0].length %>
        </li>
        <li class="nav-item">
          UserFk:<%= board[0].userFk %>
        </li>
        <br>
        <hr>
        <li>
          <h4>Cell Types</h4>
        </li>
        <hr>
        <table>
          <% cellTypes.forEach((row) => { %>
            <tr>
              <td>
                <img src="../cellsPictures/<%= row.image %>.jpg" draggable="true" id="<%= row.image %>" class="cellType"
                  style = "width: 100%; height: 50px; object-fit: scale-down;">
              </td>
              <td>
                <p><%= row.description %></p>
              </td>
            </tr>
          <% }); %>
          <tr>
            <td>
              <img src="../cellsPictures/borrar.png" draggable="true" id="null" class="cellType"
                style = "width: 100%; height: 50px; object-fit: scale-down;">
            </td>
            <td>
              <p>Delette</p>
            </td>
          </tr>
        </table>
      </ul>
    </center>
  </nav>
  <center> 
    <%- include('../partials/header.html'); %>
    <table id="board">
      <br>
      <% for (let y = 1; y <= board[0].thick; y++) { %>
        <tr id="<%= y %>">
          <% for (let x = 1; x <= board[0].length; x++) { %>
            <td id="<%= JSON.stringify({board:board[0].id,x:x,y:y}) %>" class="cell"
              <% if(cells && cells[((x-1) * board[0].length + y)-1] && cells[((x-1) * board[0].length + y)-1].image !== null){ %>
                style="background-image: url(../cellsPictures/<%= cells[((x-1) * board[0].length + y) -1].image %>.jpg); background-size: contain;"> 
              <% } else { %>
                >
              <% } %></td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </center>
</body>
</html>