<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body>
    <%- include('../partials/header.html'); %>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% boards.forEach((row) => { %>
                <div class="col">
                    <div class="card h-100" style="border-radius: 1rem; background-color:  var(--background); ">
                        <img src="<%= row.urlImage %>" class="card-img-top" alt="...">
                        <center>
                            <div class="card-body" >
                                <h5 class="card-title"><%= row.name %></h5>
                                <hr>
                                <p class="card-text">Size: <%= row.thick %> X <%= row.length %></p>
                                <p style="text-align: left;"><%= row.description %></p>
                                <a href="/boards/<%= row.id %>" class="btn btn" style="border-color:var(--highlight); color: var(--highlight)">View</a>
                            </div>
                        </center>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>